.product{
    background-color: #f7f7f7;
}
.product__button{
    background-color: #5bacc3;
    color: #fff;
    border: none;
    text-decoration: none;
    min-width: 180px;
    max-width: 80%;
    padding: 20px 20px;
    font-size: 1.4rem;
    margin-bottom: 40px;
}
.product__button--center{
    display: flex;
    justify-content: center;
}
.product__img{
    min-height: 15rem;
    max-height: 34.375rem;
    padding: 40px 0;
}
.product__price{
    color: #5bacc3;
    font-size: 32px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 20px;
}
.product__discount{
    min-width: 2.8125rem;
    max-width: 90%;
    background-color: #393939;
    color: #fff;
    font-size: 2.8125rem;
    font-weight: 400;
    text-align: center;
    padding: 40px 100px;
    margin: 200px 0;
}
.product__discount--positioning{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product__card{
    min-width: 330px;
    max-width: 350px;
    min-height: 440px;
    max-height: 460px;
    margin: 0px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    background-color: #fff;
}
.product__card-footer{
    background-color: #fff0ed;
    display: flex;
    justify-content: space-between;
    width:100%;
    padding:30px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.product__text{
    margin-left: 20px;
}
.product__text--gray{
    color: #909090;
}
.product__row{
    display: flex;
    justify-content: center;
    margin: 60px;
}
.product__title{
    padding: 60px 0 0 0;
    width: fit-content;
    margin: 0 auto;
}
.text--bold{
    font-weight: 700;
}
.nitro-coffee{
    background-color: #fff0ed;
    display: flex;
    justify-content: space-between;
    padding: 40px 200px 40px 150px;
}
.nitro-coffee__text-container{
    width: 380px;
    margin-top: 100px;
}
.nitro-coffee__text{
    margin: 20px 0 40px 0;
}
.humble-brag{
    display: flex;
    justify-content: space-between;
    margin: 150px;
    margin-bottom: 0;
}
.humble-brag__text-area{
    width: 450px;
}
.humble-brag__title{
    margin-bottom: 40px;
}
.humble-brag__icons{
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 40px 0;
}
.humble-brag__image{
    background-image: url(../assets/images/coldbrewbackground.png);
    background-size:cover;
    min-width: 400px;
    max-width: 500px;
    display: flex;
    justify-content: center;
}
